body {
  margin: 0;
  padding: 7%;
  background-image: url(images/bg-pattern-top-desktop.svg);
  background-repeat: no-repeat;
  font-family: "Spartan", sans-serif;
}

section {
  height: 50%;
  display: flex;
}

.right {
  width: 60%;
  display: inline-block;
  padding-right: 3.6%;
}
.left {
  width: 50%;
}
.left h1 {
  width: 53%;
  font-size: 2rem;
  margin: 0;
  color: hsl(300, 43%, 22%);
}
.left p {
  width: 80%;
  color: hsl(303, 10%, 53%);
  font-size: 0.9rem;
}

.card {
  background-color: hsl(300, 24%, 96%);
  width: 72%;
  text-align: center;
  padding: 2.5% 2%;
  border-radius: 5px;
}

.card p {
  display: inline;
  margin-left: 5%;
  font-size: 0.9rem;
  font-weight: bold;
}
.card1 {
  margin-top: 5%;
}
.card2 {
  margin-left: 20%;
  margin-top: 2%;
}

.card3 {
  margin-left: 35%;
  margin-top: 2%;
}

.bottom {
  justify-content: space-between;
  margin-top: 10%;
}
.review {
  height: 12.5rem;
  width: 20rem;
  background-color: hsl(300, 43%, 22%);
  padding: 2.4%;
  border-radius: 5px;
}

.profile {
  height: 15%;
  width: 12%;
  border-radius: 100px;
  position: relative;
  margin-right: 5%;
}

.review h4 {
  margin: 0;
  position: absolute;
  display: inline;
  font-size: 0.7rem;
  color: white;
}
span {
  color: hsl(333, 80%, 67%);
}
.review p {
  padding: 5%;
  margin-top: 7%;
  color: hsl(0, 0%, 100%);
  line-height: 1.5;
  font-size: 0.9rem;
}

#ir {
  margin-top: 3%;
}

#aw {
  margin-top: 6%;
}
